@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.list{
    transition: all 0.2s ease-in-out;
}

.bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }

.text-fill-color {
-webkit-text-fill-color: transparent;
}

.listTracks::-webkit-scrollbar {
    width: 0px;
    }
    
.playing {
    background-color: bisque;
}    
